elpa/
evil/
auto-save-list/
eshell/
themes/
url/
quoted-scratch/
org-mode/
vendor/

# temp files
*.elc
ac-comphist.dat

# auto-gen and -save files
\#*\#
*~
custom.el
/projectile-bookmarks.eld
projectile.cache

# org-mode auto-gen stuff
bookmarks

# cookies
request/

# keys
sunshine.key
.trello/*.el
# sql
sql.config