elpa/
evil/
auto-save-list/
eshell/
themes/
url/
quoted-scratch/

# temp files
*.elc
ac-comphist.dat
sunshine.key

# auto-gen and -save files
\#*\#
*~
custom.el
/projectile-bookmarks.eld
projectile.cache

### org-mode auto-gen stuff
bookmarks

